.headerBackground{
	background-color: #fe5d26;
	width:100%;
	overflow: hidden;
	display: inline-block;

}

.heading-area{
	background-color: #fe5d26;
	text-align: center;
}

.pizzaLogo{
	content: url("pizzalogo.png");
	height: 40%;
	width: 38%;
	float: left;
	margin-left:25px;
	position: relative;
top: 50%;
transform: translateY(-50%); 
display: inline-block;
vertical-align: middle;
	}

.panel-heading{
/*	padding: 10px 15px;*/
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-border{
	border-color: #fe8f02;
	border-width: 4px;
	box-shadow: 3px 5px 15px 2px black;
}

.loginButton{
	float:right;
	margin: 1%;
	background-color: #fe5d26;
	font-weight: bold;
	padding: 1%;


}
.iconSize { 
	font-size: 21px; 
}

.mdl-button{
	height: 70px;
	width: 38%;
	display: inline-block;
}

.interestTopTitle{
	margin-top: 10px;
	background-color: #fe5d26;
	height: 40px;
}

.interestTopList{
	height: 167px;
}

.panel-border{
	border-style: solid;
	border-color: black;
	margin: 10px;
	border-radius: 10px;
	margin-top: 40px;
	background:white;

}

.bodyBackground {
	background-color: white;
}

div.image {
   content:url("https://media.giphy.com/media/I96LNQzLjKnkI/giphy.gif");
    max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
  height: 385px;
}​



.interestBottomTitle{
	margin-top: 10px;
	background-color: #fe5d26;
	height: 40px;
}

.interestBottomField {
	height: 167px;
}

.formStyle{
	background-color: #F6F6F6;
	    width: 100%;
    display: -webkit-inline-box;
    text-align: center;
}

.locationTitle {
	margin-top: 10px;
	height: 50px;
	background-color: #fe5d26;

}

.gmaps {
	height: 400px;

}

.chatTitle {
	margin-top: 10px;
	background-color: #fe5d26;
	height: 50px;

}

.chatBox {
	
	height: 400px;

}

.textStyle{
	color: white;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}
.material-icons{
  font-size: 40px;
  top: 8px;
  position: relative;
}

.footerStyle{
	background: black;
	color: white;
	text-align: center;
	height: 5%;
	border-top-color: #fe5d26;
    border-top-style: solid;
}

.logoArea{
	max-width: 3000px;
	height:187px;
	text-align: center;
vertical-align: middle;

}

.container {
    max-width: 100%;
 }

a{
	color: white;
}



h2{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}

h4{
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	margin:0;
	width:100%;
	font-size: 36px;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
   padding: 20px;
  background-image: url("background.jpg");
}
