.headerBackground{
	background-color: #fe5d26;
	width:100%;
	overflow: hidden;
	display: inline-block;
}

.pizzaLogo{
	content: url("pizzalogo.png");
	height: 140px;
	display: inline-block;

	
}

.loginButton{
	float:right;
	display: inline-block;
}

.interestList{
	background-color: #fe5d26;
}

.panel-border{
	border-style: solid;
	border-color: black;
}

.interest{
	background-color: #fe5d26;
}


