.headerBackground{
	background-color: #fe5d26;
	width:100%;
	overflow: hidden;
	display: inline-block;

}

.pizzaLogo{
	content: url("pizzalogo.png");
	height: 40%;
	width: 40%;
	/*height: 140px;
	display: inline-block;*/

	
}

.loginButton{
	float:right;
	display: inline-block;
}

.interestTopTitle{
	margin-top: 10px;
	background-color: #fe5d26;
	height: 40px;
}

.interestTopList{
	height: 167px;
}

.panel-border{
	border-style: solid;
	border-color: black;
	margin: 10px;
}

.interestBottomTitle{
	margin-top: 10px;
	background-color: #fe5d26;
	height: 40px;
}

.interestBottomField {
	height: 167px;
}

.locationTitle {
	margin-top: 10px;
	height: 50px;
	background-color: #fe5d26;

}

.gmaps {
	height: 400px;

}

.chatTitle {
	margin-top: 10px;
	background-color: #fe5d26;
	height: 50px;

}

.chatBox {
	
	height: 400px;

}

h2{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}

h4{
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
